### Visual Studio ###
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
[Bb]in/
[Oo]bj/
[Ll]og/
[Tt]est[Rr]esult*/
*.VisualState.xml
*.aps
*.ncb
*.opendb
*.opensdf
*.sdf
*.cachefile
*.dbmdl
*.bak
*.Backup
*.log
*.pdb

# NuGet
*.nupkg
*.snupkg
*.nuspec
*.nuget.props
*.nuget.targets
packages/
project.lock.json
project.fragment.lock.json
artifacts/

# DotCover
*.dotCover

### JetBrains Rider ###
.idea/
*.iml
*.ipr
*.iws
out/

# Rider caches
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/dictionaries
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml
.idea/**/gradle.xml
.idea/**/libraries

# Rider shelf
.idea/shelf/

# Rider plugin settings
.idea/**/mongoSettings.xml

# JetBrains crash reports
hs_err_pid*

### Visual Studio Code ###
.vscode/
.history/
*.code-workspace

# Local env files
*.env
*.env.*
.envrc

### OS files ###
# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# macOS
.DS_Store
.AppleDouble
.LSOverride
.Spotlight-V100
.Trashes

#local config file
**/config.Development.json
